# Created by Diksha Singla on 10-06-2019

# Query 1:Which team has won/lost maximum number of matches while chasing?

a.) team which has won maximum number of matches while chasing

In [6]:
import pandas as pd
data_df=pd.read_csv("matches.csv",parse_dates=['date'])
normal_df=data_df[data_df['result']=='normal']

In [10]:
win_df=normal_df[(normal_df["toss_decision"]=="field")&(normal_df["toss_winner"]==normal_df["winner"])|(normal_df["toss_decision"]=="bat")&(normal_df["toss_winner"]
                                                                                                                                             !=normal_df["winner"])]

In [34]:
win_df['winner'].value_counts()

Kolkata Knight Riders          58
Mumbai Indians                 50
Chennai Super Kings            49
Royal Challengers Bangalore    48
Rajasthan Royals               46
Kings XI Punjab                43
Delhi Daredevils               42
Sunrisers Hyderabad            27
Gujarat Lions                  12
Deccan Chargers                11
Delhi Capitals                  6
Pune Warriors                   6
Rising Pune Supergiants         5
Rising Pune Supergiant          5
Kochi Tuskers Kerala            4
Name: winner, dtype: int64

In [35]:
win_df['winner'].value_counts().head(1)

Kolkata Knight Riders    58
Name: winner, dtype: int64

In [ ]:
#Kolkata knight Riders has won maximum number of matches while chasing

b.) team which has lost maximum number of matches while chasing

In [23]:
loss_df=normal_df[(normal_df["toss_decision"]=='field')&(normal_df["winner"]!=normal_df["toss_winner"])|(normal_df["toss_decision"]=='bat')&(normal_df["winner"]!=normal_df["toss_winner"])]

In [26]:
loss_df['winner'].value_counts()

Mumbai Indians                 52
Kings XI Punjab                46
Chennai Super Kings            43
Royal Challengers Bangalore    43
Kolkata Knight Riders          39
Sunrisers Hyderabad            34
Rajasthan Royals               32
Delhi Daredevils               32
Deccan Chargers                10
Pune Warriors                   9
Rising Pune Supergiant          5
Delhi Capitals                  3
Gujarat Lions                   3
Rising Pune Supergiants         2
Kochi Tuskers Kerala            2
Name: winner, dtype: int64

In [33]:
loss_df['winner'].value_counts().head(1)

Mumbai Indians    52
Name: winner, dtype: int64

In [ ]:
#Mumbai Indian has loss maximum number of matches

# Query2:Which toss decision is best for each ground?

In [2]:
import pandas as pd
data_df=pd.read_csv("matches.csv",parse_dates=['date'])
normal_df=data_df[data_df['result']=='normal']

In [3]:
count_field=normal_df[(normal_df["toss_decision"]=="field")&(normal_df["toss_winner"]==normal_df["winner"])]

In [4]:
count_field_result=count_field['venue'].value_counts()
count_field_result_dict={}
for i in range(0,len(count_field_result),1):
    count_field_result_dict[count_field_result.index[i]]=count_field_result.iloc[i]

In [5]:
count_bat=normal_df[(normal_df["toss_decision"]=="bat")&(normal_df["toss_winner"]==normal_df["winner"])]

In [7]:
count_bat_result=count_bat['venue'].value_counts()

In [8]:
count_bat_result_dict={}
for i in range(0,len(count_bat_result),1):
    count_bat_result_dict[count_bat_result.index[i]]=count_bat_result.iloc[i]

In [9]:
for key in count_field_result_dict.keys():
    if key not in count_bat_result_dict.keys():
        count_field_result_dict[key]=0

In [10]:
count_data={}
for key in count_field_result_dict.keys():
    if key in count_bat_result_dict.keys():
        count_data[key]=count_field_result_dict[key]-count_bat_result_dict[key]
    else:
        count_data[key]=count_field_result_dict[key]

In [11]:
for key in count_data.keys():
    if count_data[key]>0:
        print("{} good for field".format(key))
    elif count_data[key]<0:
        print("{} good for bat".format(key))
    else:
        print("{} neutral decision".format(key))

M Chinnaswamy Stadium good for field
Eden Gardens good for field
Wankhede Stadium good for field
Feroz Shah Kotla good for field
Sawai Mansingh Stadium good for field
Rajiv Gandhi International Stadium, Uppal good for field
Maharashtra Cricket Association Stadium good for field
Punjab Cricket Association Stadium, Mohali good for field
Holkar Cricket Stadium neutral decision
Dr DY Patil Sports Academy good for field
MA Chidambaram Stadium, Chepauk good for bat
Punjab Cricket Association IS Bindra Stadium, Mohali good for field
IS Bindra Stadium neutral decision
SuperSport Park good for field
Green Park neutral decision
Saurashtra Cricket Association Stadium neutral decision
Himachal Pradesh Cricket Association Stadium good for field
Kingsmead good for bat
M. Chinnaswamy Stadium neutral decision
M. A. Chidambaram Stadium good for field
New Wanderers Stadium neutral decision
JSCA International Stadium Complex good for field
Barabati Stadium good for field
Brabourne Stadium good for bat
ACA-VDCA Stadium neutral decision
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium neutral decision
Sharjah Cricket Stadium neutral decision
Dubai International Cricket Stadium good for field
Shaheed Veer Narayan Singh International Stadium good for field
Sheikh Zayed Stadium neutral decision
Sardar Patel Stadium, Motera good for bat
Feroz Shah Kotla Ground neutral decision
OUTsurance Oval neutral decision
Newlands good for bat
De Beers Diamond Oval neutral decision
Nehru Stadium neutral decision
Rajiv Gandhi Intl. Cricket Stadium neutral decision

# Query3:Which player has won maximum number of MoM awards while chasing?

In [144]:
win_df=normal_df[(normal_df["toss_decision"]=="field")&(normal_df["toss_winner"]==normal_df["winner"])|(normal_df["toss_decision"]=="bat")&(normal_df["toss_winner"]
                                                                                                                                             !=normal_df["winner"])]

In [145]:
loss_df=normal_df[(normal_df["toss_decision"]=='field')&(normal_df["winner"]!=normal_df["toss_winner"])|(normal_df["toss_decision"]=='bat')&(normal_df["winner"]!=normal_df["toss_winner"])]

In [156]:
result=pd.concat([win_df,loss_df])
result['player_of_match'].value_counts().head()

CH Gayle          22
DA Warner         19
YK Pathan         18
AB de Villiers    17
SR Watson         17
Name: player_of_match, dtype: int64

In [157]:
result['player_of_match'].value_counts().head(1)

CH Gayle    22
Name: player_of_match, dtype: int64

# Query4:Which batsman has played maximum number of dot balls?

In [184]:
data_df=pd.read_csv("deliveries.csv")
extra_runs=data_df[data_df["extra_runs"]==0].groupby(['batsman'])
dot_balls=extra_runs["batsman_runs"].agg(lambda x:(x==0).sum()).sort_values(ascending=False)
dot_balls.head()

batsman
V Kohli       1369
S Dhawan      1319
RG Sharma     1291
CH Gayle      1236
RV Uthappa    1223
Name: batsman_runs, dtype: int64

In [185]:
dot_balls.head(1)

batsman
V Kohli    1369
Name: batsman_runs, dtype: int64

In [ ]:
#Virat Kohli has played maximum number of dot balls

# Query 5:Which batsmen came to crease but never got a chance to face a ball?

In [222]:
data_df=pd.read_csv("deliveries.csv")
batsman_data=set(data_df["batsman"])

In [223]:
non_striker_data=set(data_df['non_striker'])
non_striker_data
non_strike=[]
for index in non_striker_data:
    if index not in batsman_data:
        non_strike.append(index)       
non_strike

['C Ganapathy', 'TP Sudhindra', 'BW Hilfenhaus', 'A Nel']

# Query 6:Which bowler has hit for maximum number of 1s/2s/3s/4s/6s?

In [224]:
data_df=pd.read_csv("deliveries.csv")

In [225]:
max_6_hits = data_df[data_df["batsman_runs"]==6].groupby(['bowler'])["batsman_runs"].agg(lambda x: (x==6).count())
max_6_hits.sort_values(ascending=False).head()

bowler
PP Chawla          171
A Mishra           170
Harbhajan Singh    142
DJ Bravo           134
RA Jadeja          131
Name: batsman_runs, dtype: int64

In [226]:
max_6_hits.sort_values(ascending=False).head(1)

bowler
PP Chawla    171
Name: batsman_runs, dtype: int64

In [228]:
max_4_hits=data_df[data_df["batsman_runs"]==4].groupby(['bowler'])["batsman_runs"].agg(lambda x: (x==4).count())
max_4_hits.sort_values(ascending=False).head()

bowler
UT Yadav      384
P Kumar       338
B Kumar       323
SL Malinga    316
Z Khan        312
Name: batsman_runs, dtype: int64

In [230]:
max_4_hits.sort_values(ascending=False).head(1)

bowler
UT Yadav    384
Name: batsman_runs, dtype: int64

In [231]:
max_3_hits=data_df[data_df["batsman_runs"]==3].groupby(['bowler'])["batsman_runs"].agg(lambda x: (x==3).count())
max_3_hits.sort_values(ascending=False).head(1)

bowler
P Kumar    16
Name: batsman_runs, dtype: int64

In [232]:
max_2_hits=data_df[data_df["batsman_runs"]==2].groupby(['bowler'])["batsman_runs"].agg(lambda x: (x==2).count())
max_2_hits.sort_values(ascending=False).head(1)

bowler
A Mishra    232
Name: batsman_runs, dtype: int64

In [233]:
max_1_hits=data_df[data_df["batsman_runs"]==1].groupby(['bowler'])["batsman_runs"].agg(lambda x: (x==1).count())
max_1_hits.sort_values(ascending=False).head(1)

bowler
Harbhajan Singh    1465
Name: batsman_runs, dtype: int64

# Query7:Which batsman got stumped out maximum number of times?

In [210]:
data_df=pd.read_csv("deliveries.csv")

In [258]:
stumped_data=data_df[(data_df["dismissal_kind"]=='stumped')&(data_df["batsman"]==data_df["player_dismissed"])]
stumped_data['batsman'].value_counts().head()

SK Raina          8
RV Uthappa        7
AT Rayudu         7
AB de Villiers    6
PA Patel          6
Name: batsman, dtype: int64

In [220]:
stumped_data['batsman'].value_counts().head(1)

SK Raina    8
Name: batsman, dtype: int64

In [ ]:
# SK Raina got stumped maximum number of times

# Query 8:Which non-striker has been part of maximum number of runouts?

In [243]:
data_df=pd.read_csv("deliveries.csv")

In [254]:
runout_data=data_df[(data_df["dismissal_kind"]=='run out')&(data_df["non_striker"]==data_df["player_dismissed"])]
runout_data['non_striker'].value_counts().head()

AB de Villiers    8
G Gambhir         8
M Vijay           8
SK Raina          7
F du Plessis      6
Name: non_striker, dtype: int64

In [255]:
runout_data['non_striker'].value_counts().head(1)

AB de Villiers    8
Name: non_striker, dtype: int64

In [ ]:
#AB de Villiars has been part of maximum number of runouts

# Query 9:Which batsman got caught maximum number of times?

In [260]:
data_df=pd.read_csv("deliveries.csv")
batsman_caught_data=data_df[(data_df["dismissal_kind"]=='caught')&(data_df["batsman"]==data_df["player_dismissed"])]
batsman_caught_data['batsman'].value_counts().head()

SK Raina      112
RV Uthappa    108
RG Sharma     103
V Kohli        95
KD Karthik     85
Name: batsman, dtype: int64

In [261]:
batsman_caught_data['batsman'].value_counts().head(1)

SK Raina    112
Name: batsman, dtype: int64

# Query 10:Which batsman got lbw maximum number of times?

In [264]:
data_df=pd.read_csv("deliveries.csv")
batsman_lbw_data=data_df[(data_df["dismissal_kind"]=='lbw')&(data_df["batsman"]==data_df["player_dismissed"])]
batsman_lbw_data['batsman'].value_counts().head()

BB McCullum    16
RV Uthappa     13
PA Patel       12
DR Smith       12
RG Sharma      11
Name: batsman, dtype: int64

In [265]:
batsman_lbw_data['batsman'].value_counts().head(1)

BB McCullum    16
Name: batsman, dtype: int64

# Query 11:Which season has the most number of matches?

In [276]:
data_df=pd.read_csv("matches.csv")
data_df.groupby('season')['season'].value_counts().sort_values(ascending=False).head(1)

season  season
2013    2013      76
Name: season, dtype: int64

# Ques 12:Find maximum number of wickets taken by a bowler?

In [287]:
data_df=pd.read_csv("deliveries.csv")

In [294]:
max_wicket = data_df[data_df["dismissal_kind"] != "run out"]
max_wicket.groupby("bowler")["player_dismissed"].count().sort_values(ascending=False).head(1)

bowler
SL Malinga    170
Name: player_dismissed, dtype: int64

# Ques13: which team had won by maximum number of wickets?

In [286]:
data_df=pd.read_csv("matches.csv")
data_df.loc[data_df['win_by_wickets'].idxmax()]['winner']

'Kolkata Knight Riders'